<div class = "signup-page">
  <div class ="signup-container">

    <h1 class = "post-title">Sign Up</h1>

    <%= @author.errors.full_messages.join(', ') %>

    <div class = "post-body">
      <%= form_for @author do |f| %>
        <div class = "form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class = "form-group">
          <%= f.label :about %>
          <%= f.text_field :about, class: 'form-control' %>
        </div>
        <div class = "form-group">
          <%= f.label :Photo %>
          <%= f.file_field :avatar %>
        </div>
        <div class = "form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class = "form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class = "form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
