
<div class = "post-container">
  <h1 class="post-title col-xs-12 col-sm-12 col-md-10 col-md-offset-1"><%= @post.title %></h1>
  <%= image_tag(@post.image, class: "blog-img")  %>

  <div class = "post-body">
    <div class = "post-text col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <p><%= @post.body %></p>
      <div class = "post-date">
        <%= @post.created_at %>
      </div>
      <div style="clear: both;">
      <div class = "heart">
        <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
        <span class = "likes">367</span>
      </div>
      <!-- bookmark -->
      <div class = "bookmark">
        <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class = "author-profile col-xs-12 col-sm-8 col-md-8 col-lg-6 col-xl-2">
      <%= image_tag @post.author.avatar.url, :class => "author-img"%>
      <div class = "blurb">
        <h3><%= @post.author.name %></h3>
        <p><%= @post.author.about %></p>
      </div>
    </div>
  </div>


  <div class = "comment-area col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class = "comment-form">
      <%= form_for([@post, @comment]) do |f| %>
        <h5>Leave a comment...</h5>
        <div class ="form-group comment-text">
          <%= f.text_area :body %>
        </div>
        <div class ="form-group comment-name">
          <%= f.label :full_name %>
          <%= f.text_field :name %>
        </div>
        <%= f.submit %>
      <% end %>
    </div>

    <% @post.comments.order('created_at DESC').each do |comment| %>
      <% if Author.where(:name => comment.name).exists? %>
        <%= image_tag(Author.find_by(name: comment.name).avatar, :class => "comment-img")  %>
      <% else %>
        <img src="../assets/defaultuser.png" class="comment-img">
      <% end %>

      <div class = "comment">
        <p><%= comment.body %></p>
        <p><%= comment.name %></p>
        <p><%= comment.created_at %></p>

        <%= link_to 'Delete', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
      </div>
      <hr />
    <% end %>
  </div>
</div>
